---

---

<section id="games" class="bg-transparent min-h-screen">
    <div class="section-container">
        <h2 class="section-title text-foreground">Mini Juegos</h2>

        <p class="text-muted-foreground mb-8 max-w-2xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            eos necessitatibus doloremque, quasi vel sed sequi natus laboriosam
            numquam beatae, totam corporis quidem, neque ut a delectus id fugit
            saepe!
        </p>

        <div
            class="grid grid-cols-1 text-5xl sm:grid-cols-2 lg:grid-cols-3 gap-6"
        >
            Proximamente...
        </div>
    </div>
</section>
