---

---

<footer
  class="bg-primary text-background w-full pt-24 pb-12 px-12 flex flex-col gap-16"
>
  <div class="flex flex-col md:flex-row justify-between items-start gap-12">
    <div class="max-w-xl">
      <h2
        class="font-headline text-[10vw] leading-[0.8] uppercase font-black text-background"
      >
        LET'S <br />
        <span class="text-accent italic">BUILD</span>
        <br />
        IT.
      </h2>
    </div>
    <div class="flex flex-col gap-8 items-start md:items-end w-full md:w-auto">
      <div
        class="flex flex-col gap-4 font-headline text-xl font-bold text-background items-start md:items-end"
      >
        <a
          class="hover:text-accent transition-colors duration-150"
          href="https://github.com/elmiltonpa"
          target="_blank"
          rel="noopener noreferrer">GITHUB</a
        >
        <a
          class="hover:text-accent transition-colors duration-150"
          href="https://www.linkedin.com/in/milton-ibarra-ba1020205/"
          target="_blank"
          rel="noopener noreferrer">LINKEDIN</a
        >
        <a
          class="underline decoration-accent decoration-8 hover:text-accent transition-colors duration-150"
          href="mailto:elmiltonibarra@gmail.com">EMAIL</a
        >
      </div>
    </div>
  </div>
  <div
    class="flex flex-col md:flex-row justify-between items-end border-t border-background/10 pt-12 gap-8"
  >
    <div
      class="text-background font-black font-headline text-3xl tracking-tighter"
    >
      MILTON<span class="text-accent">.</span>IBARRA
    </div>
    <div
      class="font-headline text-[10px] uppercase font-bold tracking-[0.3em] text-background/40"
    >
      ©{new Date().getFullYear()} MILTON IBARRA. ALL RIGHTS RESERVED.
    </div>
  </div>
</footer>
