---
import { Icon } from "astro-icon/components";
---

<button
    id="theme-toggle"
    class="relative p-2 rounded-lg bg-secondary/50 border border-border hover:border-primary/50 text-primary transition-all duration-300 group overflow-hidden"
    aria-label="Toggle theme"
>
    <div class="relative z-10 flex items-center justify-center">
        <Icon name="lucide:palette" class="size-5" />
    </div>
</button>

<style>
    #theme-toggle {
        transition: transform 0.2s ease-in-out;
    }
    
    #theme-toggle:active {
        transform: scale(0.9);
    }
</style>

<script>
    const getTheme = () => {
        return localStorage.getItem("theme") || "gold";
    };

    const setTheme = (theme: string) => {
        document.documentElement.setAttribute("data-theme", theme);
        localStorage.setItem("theme", theme);
    };
    document.addEventListener("astro:page-load", () => {
        const currentTheme = getTheme();
        setTheme(currentTheme);

        document
            .getElementById("theme-toggle")
            ?.addEventListener("click", () => {
                const newTheme =
                    document.documentElement.getAttribute("data-theme") ===
                    "purple"
                        ? "gold"
                        : "purple";
                setTheme(newTheme);
            });
    });
</script>
